.channelfilters_page{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 10px;
  height:100vh;
}
 
.filters{
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  padding-top: 5px;
  padding-right: 10px;
  box-sizing: border-box;
  margin: 5px;
}
.filter1{
  display: flex;
  flex-direction: column;
}
.filterSvg{
  transform: rotate(-90deg);
}
.filterSvg:hover{
  transform: rotate(-270deg);
}
.all_filters{
  height: 500px;
  background: red;
}
.single_filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.4);
  min-height:60px;
  font-size: 18px;
  font-weight: bold;
}
.select{
  border: 1px solid #f3f3f3;
  margin-left: 10px;
  width: 120px;
  padding-left:10px;
  background: #f2f2f2;
  color: black;
}
.options{
  background-color: #f2f2f2;
  color: black;
}
#navbar_filter{
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
}
@media(max-width: 700px)
{
  .navbar_filter{

  width: 250px;
}
}

@media (max-width: 700px){
  .channelfilters_page{
    width: 100vw;
    height: 100px;
  }
}
